/* 2- GENERAL STYLES........................................................................................ */
body {
    font-family: 'varela round' , sans-serif;
   }
*  {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    }
   .container {
    width:80%;
    margin: auto;
    }
    a {
       text-decoration: none;
    }
    .section-header {
        text-align: center;   
    }
    .section-header .section-title{
        font-size: 35px;
        text-transform: capitalize;
        margin-bottom: 9px;
        margin-top: 6px;
    }
    .section-header .line{
        display: block;
        width: 62px;
        height: 4px;
        background-color: royalblue;
       margin: 0  auto  70px  auto;
    }
/* 3- SECTIONS.............................................................................................. */
/* 3.0 HEADER................................................................................................ */
    .header {
        width:100%;
        position: fixed;
        z-index: 10;
        background-color: rgba(104, 60, 40, 0.781);
    }
    .header .logo {
        width:40%;
        float: left;
    }
    .nav{
        width:60%;
        float: left;
        text-align: right;
    }
    .clear{
        clear: both;
    }
    .header .container .header-content .nav > li{
        list-style: none;
        display: inline-block;
    }
    .header .container .header-content .nav > li > a{
        color:white;
        padding:12px;
        display: block;
    }
    .header .container .header-content .nav > li > a:after ,
    .header .container .header-content .nav  > li > a.active:after{
        content:"";
        width:0;
        height:3px;
        display: block;
        background-color: rgba(109, 26, 26, 0.781);
        margin-top: 2px;
        transition: .5s;
    }
    .header .container .header-content .nav > li > a.active:after{
     width:100%;
   }
    .header .container .header-content .nav > li > a:hover:after{
        width: 100%;
    }
    .dd{
        position: relative;
    }
    .a-bp{
        color: white;
        display: block;
        padding: 10px;
    }
    .bp {
        position: absolute;
        width: 120px;
        padding:5px;
        background-color: rgb(137, 137, 146);
        text-align: center;
        left:78%;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.5s;
        }
        .dd:hover + .bp{
            visibility: visible;
            opacity:1;
        }


/* 3.6 NUMBERS SECTION......................................................................................... */
.numbers {
    position: relative;
    background-image: url(../images/background5.jpg);
    height:800px;
    background-size: cover;
    background-attachment:scroll;
}
.numbers-items{
    overflow:hidden;
    padding-top: 250px;
}
.number-item {
    width: 30%;
    float: left;
    text-align:center;
}

.number-item-title{
    font-weight: bold;
    font-size: 35px;
    color: #fff;
}

























































/* 3.11 FOOTER SECTION....................................................................................... */
.footer{
    background-color: #f7f5f2;
    text-align: center;
    height: 300px;
    padding: 60px 0;
}
.footer-links{
    list-style: none;
    margin: 20px 0;
}
.footer-links li{
    display: inline-block;
    background-color: rgb(95, 61, 38);
    width:50px;
    height: 50px;
    position: relative;
    z-index: 1;
    border-radius: 50%;
}
.footer-links li a{
    display: block;
    width:100%;
    height: 100%;
    color:#7c5625;
    color: #fff;
    line-height: 50px;
    padding-top: -10px;
    padding-right: 15px;
    font-size: 23px;
    margin: 0 8px;
}
.footer-links li:after{
    position: absolute;
    content: "";
    opacity: 0;
    transition: .3s;
    background-color: #7c5625;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0%;
    bottom: 0;
}
.footer-links li:hover:after{
    opacity: .7;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 50%;
}
.footer p{
    color:#693636;
    font-size: 12px;
    text-transform: uppercase;
}