<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/public/css/style.css" />

    <title>Document</title>
  </head>
  <body>
    <!-- 3.11 FOOTER SECTION................................................................................... -->
    <div class="footer">
      <ul class="footer-links">
        <li><a href="#"><i class= "fab fa-facebook "></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-youtube "></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
        {{!-- <li><a href="#"><i class=""></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li> --}}
      </ul>
      <p>copyright &copy; 2021 . all right reserved by colorlib</p>
    </div>
  </body>
</html>

{{! ///////////////// }}