<!DOCTYPE html>
<html>
      <head>
           <title>  new Project</title>
           <link rel="stylesheet"  href="/public/css/style.css" />
      </head>

      <body>

<!-- 3.0 HEADER............................................................................................. -->
        <div class="header">
            <div class="container">
                <div class="header-content">
                <div class="logo">
                    <img src="/images/amazon-logo1-bro.webp" width="45px" height="45px" alt="logo img" draggable="false"/>
                </div>
                <ul class="nav">
                   <li> <a href="/" class="active">Home</a></li>
                   {{!-- <li> <a href="/">about</a></li> --}}
                   <li> <a href="/temp1/views/bag-one.hbs">Bag</a></li>
                   <li> <a href="/temp1/views/lipstick-two.hbs">Lipstick</a></li>
                   <li> <a href="/temp1/views/macker-three.hbs">Macker</a></li>
                   <li> <a href="/temp1/views/poder-four.hbs">Poder</a></li>
                   <li> <a href="/temp1/views/cream-five.hbs">Cream</a></li>
                </ul>
                <div class="clear"></div>
            </div> <!-- /header content -->
            </div> <!-- /container -->
            </div> <!-- /header -->










{{!-- 
             <div class="header1">
                 <a href=" /"> HOME</a>
                 <a href="/service"> SERVICE</a>
                 <a href="/team">TEAM</a>
                <a href="/products">products</a>
             </div> --}}




      </body>
</html>